
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Change Password</h1>
                <nav class="d-flex align-items-center">
                    <a href="@Url.Action("index","home")">Home<span class="lnr lnr-arrow-right"></span></a>
    
                    <a href="#">Change Password</a>
                </nav>
            </div>
        </div>
    </div>
</section>


<section class="tracking_box_area section_gap">
    @if (TempData["changePassword"] != null && TempData["changePassword"].ToString() == "success")
    {
        <h3 class="text-center title_confirmation text-success" style="color:limegreen">Password Changed Succesfully.</h3><br />
    }
    <div class="container">
        <div class="tracking_box_inner">
            <p>
                To change your password please enter your registered e-mail in the box below and press the "Forget Password" button. This
                was given by you on Registration Page and on which you have receive the confirmation email.
            </p>
            @using (Html.BeginForm())
            {

                <form class="row tracking_form">
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" id="order" name="cp" placeholder="New Password"
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-mail'">
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="btn primary-btn">Change Passowrd</button>
                    </div>
                </form>
            }
        </div>
    </div>
</section>
