
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login</h1>
                <nav class="d-flex align-items-center">
                    <a href="@Url.Action("index","home")">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Login</a>
                </nav>
            </div>
        </div>
    </div>
</section>


<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/assets/main/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p>Step into Style: Register Now to Explore Exclusive Shoe Collections!</p>
                        <a class="primary-btn" href="@Url.Action("register","home")">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Log in to enter</h3>
                    @if (TempData["userRegistered"] != null && TempData["userRegistered"].ToString() == "success")
                    {
                        <h3 class="text-center title_confirmation text-success" style="color:limegreen">Your Account has been Created.</h3><br />
                     }
                    @if (TempData["loginUser"] != null && TempData["loginUser"].ToString() == "mailNotFound")
                    {
                        <h3 class="text-center title_confirmation text-success" style="color:red">Incorrect Credintials.</h3><br />
                     } 
                    <form class="row login_form"
                          method="post" id="contactForm">
                        <div class="col-md-12 form-group">
                            <input type="email" required class="form-control" id="name" name="mail" placeholder="E -Mail"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" required class="form-control" id="name" name="password" placeholder="Password"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <input type="checkbox" id="f-option2" name="selector">
                                <label for="f-option2">Keep me logged in</label>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Log In</button>
                            <a href="@Url.Action("forget","home")">Forgot Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
