
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Register</h1>
                <nav class="d-flex align-items-center">
                    <a href="@Url.Action("index","home")">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Register</a>
                </nav>
            </div>
        </div>
    </div>
</section>


<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Sign Up to enter</h3>
                    @if (TempData["userRegistered"] != null && TempData["userRegistered"].ToString() == "Failed")
                    {
                        <h3 class="text-center title_confirmation text-success" style="color:red">Sorry! This mail is already registered.</h3><br />
                    }
                    <form class="row login_form" method="post">
                        <div class="col-md-12 form-group">
                            <input type="text" required class="form-control" id="name" name="name" placeholder="Username"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="email" required class="form-control" id="mail" name="mail" placeholder="E-Mail"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-Mail'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" required class="form-control" id="pass" name="password" placeholder="Password"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/assets/main/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>Already Registered?</h4>
                        <p>Your Fashion Journey Starts Here: Sign In to Shop Shoes!</p>
                        <a class="primary-btn" href="@Url.Action("login","home")">Login Now!</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

